body{
    background-color: darkcyan;
}
#color0{
    background-color: darkviolet;
}
#color1{
    background-color: chartreuse;
}
#color2{
    background-color: forestgreen;
}
#color3{
    background-color: darkgoldenrod;
}
#color4{
    background-color: crimson;
}